@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*
    font-family: 'Lora', serif;
    font-family: 'Roboto', sans-serif;
 */


*, h1 {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', serif;
    box-sizing: border-box;
}

.nav-wrapped {
    display: flex;
    height: 5rem;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-wrapped > ul {
    display: flex;
    list-style: none;
    height: 100%;
}

.nav-wrapped > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-wrapped > ul > li:hover{
    background-color: #2ca079;
}

.nav-wrapped > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 0 1rem 0 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
}

.nav-wrapped > ul > li > img {
    height: 100%;
}

.mobile-nav {
    display: none;
}

.mobile-nav.show {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
}

.mobile-nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.mobile-nav > ul > li {
    width: 100%;
}

.mobile-nav > ul > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 0 1rem 0;
}

.mobile-nav > ul > li:not(:first-child){
    border-top: 1px solid #666;
}

.hamburger-btn {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hamburger-btn > a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 0 1rem 0 1rem;
    cursor: pointer;
    user-select: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* TODO: whitebartop startar*/


.whitetop-wrapped{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2ca079;
}

.whitetop-wrapped > div{
    margin: 5px;
    color: white;
}






/*TODO: footern början*/

.footer-wrapped{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.foot-about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-about > a, .foot-contact > a{
    margin: 10px;
}

.foot-about, .foot-contact{
    color: white;
}




/*TODO: början av start sida*/

.startsidawrapped{
    display: flex;
    flex-direction: column;
}

.startwelcome{
    background-image: url("../images/coffebeansstart.jpg");
    display: flex;
    flex-direction: row;
    color: white;
    background-size: cover;
    background-position-y: center;
    justify-content: center;

}

.start-text{
    display: flex;
    flex-direction: column;
    color: white;
    width: 461px;
    justify-content: center;
    margin-right: 30px;
}

.startwelcome > img{
    display: flex;
    width: 400px;
    height: 500px;

}

.startwelcome > p{
    display: flex;
    font-family: 'Montserrat', serif;
}

.startwelcome > h1{
    display: flex;
    font-family: 'Montserrat', serif;
}

.reastart{
    display: flex;
    background-color: #2ca079;
    color: white;
    align-items: center;
    justify-content: center;
}






/* TODO: Start of store page*/



.store-wrapped{
    display: flex;
    flex-direction: column;

}

.categories-store{
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.categories-store > a {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    color: white;
    background-color: #2ca079;
}

.categories-store > a:hover{
    background-color: black;
    transition: opacity 1s ease 0s;
    

}

.erbjudande-store > h1 {
    display: flex;
    margin: 10px;
}

.erbjudande-store > p{
    display: flex;
    margin-left: 10px;
    margin-bottom: 15px;
    align-items: center;
}

.reavaror-store{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-iteam: center;
    justify-content: center;
    margin-bottom: 30px;

}

.reavaror-store > a{
    display: flex;
    flex-direction: column;
    flex-basis:     25%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 0.1px solid black;
}

.reavaror-store > a:hover{
    box-shadow: -1px -3px 0px 16px rgba(0,128,0,0.36) inset;
    -webkit-box-shadow: -1px -3px 0px 16px rgba(0,128,0,0.36) inset;
    -moz-box-shadow: -1px -3px 0px 16px rgba(0,128,0,0.36) inset;
}

.categories-store > .nuauto{
    background-color: black;
}

.categories-store > .nustore{
    background-color: black;
}

.reavaror-store > a > div {

}

.reavaror-store > a > div > img{
    width: 300px;
    margin-top: 13px;
}

.reavaror-store > a > div > h2{
    margin-top: 10px;
}

.reavaror-store > a > div > h3{
    color: red;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;

}

.reavaror-store > a > div > p{
    margin-bottom: 20px;
    margin-left: 10px;

}



/* TODO: account page*/


.megaaccount-wrapped{
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url("../images/accountpagebackground.jpg");
    background-size: cover;
    background-position-y: center;
    justify-content: center;

}



.account-wrapped{
    display: flex;
    flex-direction: column;
    background-color: #eff0f2;
    padding-bottom: 300px;
}


.print-users{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.print-users > h1{
    padding-top: 10px;
    padding-bottom: 10px ;
}

.print-users > h2{
    padding-top: 10px;
    padding-bottom: 10px ;
    border-top: 1px solid #666;
}


.logout-css{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: x-large;
    font-family: 'Montserrat', serif;
}

.logout-css > a{
    padding: 14px;
    background-color: red;
    border: 1px black;
    font-family: 'Montserrat', serif;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    margin-top: 30px;
}










@media screen and (max-width: 600px)  {
    .hamburger-btn{
        display: flex;
    }

    .nav-wrapped > ul:nth-child(2) {
        display: none;
    }

    .nav-wrapped > ul:nth-child(2).show {
        display: flex;
        flex-direction: column;
        background-color: black;
    }

    .footer-wrapped{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .startwelcome{
        flex-direction: column;
        align-items: center;
    }



    .start-text{
        width: fit-content;
        justify-content: center;
        text-align: center;
        margin-right: 0;
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .account-wrapped{
        width: 100%;
    }


}